<div class="main-container">
<div class="form-container">
<h1>Articulos</h1>
<div>
  {{codigo}}
  <br>
  {{description}}
  <br>
  {{price}}
  <br>
  {{_id}}
  <br>
</div> 
<div>  
  <img width="100" height="100" src="{{thumbnail}}">
</div>
</div> 



