<div class="main-container">
  <div class="form-container">
    <h1>Perfil del usuario</h1>
    <div>
      <p>
        {{this.nombre}}
        {{this.apellido}}
        <br />
        {{this.email}}
        <br />
        {{this.telefono}}
        <br />
      </p>
      <img width="100" height="100" src="{{this.avatar}}" />
      <p>Carrito</p>
        {{this.carrito}}
    </div>
  </div>
</div>